{:aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.844"}}}
           :release {:extra-deps {applied-science/deps-library {:mvn/version "RELEASE"}}
                     :main-opts  ["-m" "applied-science.deps-library"]}}
 :deps    {}}
